@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --primary: #002147;
  --secondary: #d2b48c;
  --success: #0070f3;
  --error: #ca2a30;
  --warning: #ff990a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f9fafb;
    --background: #171717;
    --primary: #002147;
    --secondary: #d2b48c;
    --success: #0070f3;
    --error: #ff0000;
    --warning: #ff990a;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --font-sans: var(--font-esbuild);
  --font-mono: var(--font-pp-mori);
  --font-esbuild: var(--font-esbuild);
  --font-pp: var(--font-pp-mori);
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-esbuild), Arial, Helvetica, sans-serif;
}

.d {
  border: 1px solid red !important;
}
